@use "variables" as *;

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin button-base {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    font: {
        size: $font-size-sm;
        weight: bold;
    }
    color: $white;
    background-color: $primary-color;
    border: none;
    border-radius: $border-radius-sm;
    cursor: pointer;
    transition: $transition-base;
}

@mixin responsive($breakpoint) {
    @media only screen and (max-width: $breakpoint) {
        @content;
    }
}

@function str-replace($string, $search, $replace: '') {
    $index: str-index($string, $search);
    
    @if $index {
        @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
    }
    
    @return $string;
} 